/*
Contains override for bootstrap / base theme along with global apparence settings
Work here if you intend to change something globally for the whole app, or define mixins
*/

/* Override logo */
#header h1 {
/*  background: url("images/logo.png") no-repeat scroll 0 0px transparent !important;
  left: 50px !important;*/
  background: url("images/logo-mini.png") no-repeat scroll 0 0px transparent !important;
  left: 0px !important;
  height: 60px !important;
  top: 10px !important;
/*  line-height: 600px;
  overflow: hidden;
  position: relative;
  width: 191px;
*/
}

/* Slidify styling */
[data-toggle=slidify] {
    cursor:pointer;
}

.slidify {
    display:none;
}

.slidify-on{
  display: block;
}


/* Unstyle iconified buttons */
button[class^="icon-"],
button[class*=" icon-"] {
    border:0px;
    background-color:transparent;
    opacity: 0.7;

    &:hover{
      opacity: 0.9;
    }

    &:active{
      opacity: 1;
    }
}


/* By default, logged out users don't see... */
body:not(.user-author):not(.user-reviewer):not(.user-admin) {
  .user-logged-in, .user-author, .user-reviewer, .user-admin {
    display: none !important;
  }
}

/* All logged-in users stop seeing logged-out */
body.user-author, body.user-reviewer, body.user-admin {
  .user-logged-out {
    display: none !important;
  }
}

/* Non-admin don't see some stuff */
body:not(.user-reviewer):not(.user-admin) {
  .user-reviewer, .user-admin {
    display: none !important;
  }
}

body:not(.user-admin) {
  .user-admin {
    display: none !important;
  }
}


body {
  overflow:visible!important;
  //min-width:1200px;
}

/* Fix unicorn shady management */
#sidebar > a {
  cursor: pointer;
}

/*
@media screen and (min-width: 769px) {
  #user-nav > ul {
    width: auto;
    margin: 0;
  }
}
*/

@media screen and (min-width: 480px) {
  #sidebar > ul {
    display: block;
  }
  #content-header .btn-group {
    width: auto;
  }
}


/* Fix unicorn css on collapse */
#advices, #home {
  > header > h5 {
    cursor: pointer;
  }
}

.icon-facebook{
  background-image: url("images/facebook.png");
}

.panel-right.force-left {
    position:relative;
    left:0;
    top:0;
    height:100%;
}

/** Rounded corners **/
@mixin rounded($radius: 10px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin rounded-top($radius: 10px) {
    border-radius: $radius $radius 0 0 !important;
    -moz-border-radius: $radius $radius 0 0 !important;
    -webkit-border-radius: $radius $radius 0 0 !important;
}

@mixin rounded-bottom($radius: 10px) {
    border-radius: 0 0 $radius $radius !important;
    -moz-border-radius: 0 0 $radius $radius !important;
    -webkit-border-radius: 0 0 $radius $radius !important;
}

@mixin rounded-left($radius: 10px) {
    border-radius: $radius 0 0 $radius;
    -moz-border-radius: $radius 0 0 $radius;
    -webkit-border-radius: $radius 0 0 $radius;
}

@mixin rounded-right($radius: 10px) {
    border-radius: 0 $radius $radius 0;
    -moz-border-radius:  0 $radius $radius 0;
    -webkit-border-radius:  0 $radius $radius 0;
}


/** drop shadow **/
@mixin shadow($x:5px, $y:5px, $blur:5px, $color:#ccc) {
    -moz-box-shadow:  $x $y $blur $color;
    -webkit-box-shadow:  $x $y $blur $color;
    box-shadow:  $x $y $blur $color;
}

@mixin inner-shadow($x:5px, $y:5px, $blur:5px, $color:#ccc) {
    -moz-box-shadow: inset $x $y $blur $color;
    -webkit-box-shadow: inset $x $y $blur $color;
    box-shadow: inset $x $y $blur $color;
}

@mixin multiple-shadows($x:5px, $y:5px, $blur:5px, $color:#ccc, $ix:5px, $iy:5px, $iblur:5px, $icolor:#ccc) {
    -moz-box-shadow: $x $y $blur $color, inset $ix $iy $iblur $icolor;
    -webkit-box-shadow: $x $y $blur $color, inset $ix $iy $iblur $icolor;
    box-shadow: $x $y $blur $color, inset $ix $iy $iblur $icolor;
}

@mixin box-sizing($value){
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

/** hide text content */
@mixin notext() {
    text-indent: -30000px;             
    white-space:nowrap;
}

@mixin rotate($deg) {
    transform:rotate($deg);
    -moz-transform:rotate($deg);
    -webkit-transform:rotate($deg);
    -o-transform:rotate($deg);
    -ms-transform:rotate($deg);
}

@mixin unselectable() {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


@mixin scale($deg) {
    transform:scale($deg);
    -moz-transform:scale($deg);
    -webkit-transform:scale($deg);
    -o-transform:scale($deg);
    -ms-transform:scale($deg);
}

hr.clear {
    clear:both;
    width:100%;
    visibility:hidden;
}

hr.soften {
  height: 1px;
  margin: 2px 0;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.none {
  display:none!important;
}


.unselectable {
  @include unselectable();
}