#modal-preview{
  width: 70%;
  left: 15%;
/*  top: 5%;
  bottom: 5%;*/
  right: 15%;
  margin-left: 0;
  margin-right: 0;


  top: 5%;
  bottom: 5%;
  height: 90%;
  margin-top: 0;
  margin-bottom: 0;

  overflow: hidden !important;

  .modal-body{
    margin-bottom: 20px !important;
    max-height: 90% !important;
  }
}

