/*
Styles for the preview node - XXX deprecated
*/

iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
/*  overflow: hidden !important;*/
  bottom: 0;
  top: 0;
  display: block;
  height: 90%;
}

#modal-preview{
  width: 90%;
  left: 5%;
/*  top: 5%;
  bottom: 5%;*/
  right: 5%;
  margin-left: 0;
  margin-right: 0;


  top: 5%;
  bottom: 5%;
  height: 90%;
  margin-top: 0;
  margin-bottom: 0;

  overflow: hidden !important;

  .modal-body{
    margin-bottom: 20px !important;
    max-height: 90% !important;
/*    overflow: hidden;*/
  }
}

