.qti {

    .control-group .input-prepend {
        padding
    }
    .input-prepend {
        width:100%;
        margin-left:10px;

        label, input, textarea {
            margin:0;
            float:left;
            margin: 10px 0;
        }

        label {
            width: 100px;
            cursor:pointer;
        }
    }
    .qti-title {
        .icon {
            border-right:0;
        }

        h5 {

        }
        border-right: 1px solid #CDCDCD;
        float:left;
    }
    .main-tab-container {
        overflow:visible!important;
    }

    .panel-left {
        float:left;
        margin-left:0;
        margin-right:0px;
        @include box-sizing(border-box);
    }

    .panel-right {
        left:0;
        right:auto;
        top:0;
        border-right: 1px solid #DDD;
        border-left:0;
        position:relative!important;
        float:left;
        height:auto;
    }

    .pages-list {
        line-height: 21px;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        font-size: 10px;
        float:left;
        width:100%;
        position:relative;
        overflow:auto;

        li {
            border-color: #DDD;
            border-style: none none solid;
            border-width: 0 0 1px;
            padding: 1px;
            position: relative;
            float:left;
            width:100%;
            font-size: 12px;
            cursor:pointer;

            &.page-static {
                .questions-count {
                    display:none;
                }
            }

            &.ui-sortable-placeholder {
                border:1px dotted #bcbaba;
                background-color:#ececec;
                margin:10px;
                height:34px;
                width:90%;
                @include box-sizing(content-box);
            }

            &.ui-sortable-helper {
                border: 1px solid #D6D6D6;
            }

            &.active {
                background-color: #EAEAEA;
                font-weight:bold;

                .icon {
                    background-color: #EFEFEF;
                    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f0f0f0), to(#dedede));
                    background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -moz-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -ms-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -o-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                }
            }

            &:hover {
                background-color:#eeeeee;
            }

            a {
                color: #666;
                display: block;
                float:left;
                width:100%;

                .icon {
                    border-right: 1px solid #CDCDCD;
                    width:28px;
                    height:28px;
                    float: left;
                    opacity: .7;
                    text-align:center;
                    padding:8px 0;
                    margin-right:10px;

                    line-height: 2.4em;

                    background-color: #EFEFEF;
                    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
                    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                    background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                    background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                    background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                    background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                    cursor:move;
                }

                .page-title {
                    float:left;
                    line-height:3.5em;
                }
            }

            .questions-count{
                padding: 3px 5px;
                position: absolute;
                right: 10px;
                top: 12px;
            }
        }
    }

    .nav-tabs {
        float:left;
    }

    #page-management {


        .panel-title {
            float:left;
            padding:5px 0;

            h5 {
                float:left;
            }
            .buttons {
                margin:0;
                padding: 0px 10px 0 0;
                height: 100%;
                float:right;
                a {
                    margin-top:4px;
                    
                }
            }

        }
       
    }

    textarea {
        @include box-sizing(border-box);
        resize:vertical;
        min-height:30px;
    }
    textarea[name=page-document] {
        width:100%;
        max-width:100%;
    }

    

    [for="form-page-explanation"] {
        height:24px;
        line-height:2em;
    }

    #page-informations {
        .redactor_box {
            float:left;
            width:84%%;
            margin:10px 0;

            textarea {
                padding:0!important;
                margin:0!important;
                width:100%!important;
            }
        }

        #form-page-explanation {
            width:100%;
        }
        .control-group {
            float:left;
            width:70%;
            padding-bottom:10px;
            margin-bottom:10px;

            input, textarea {
                width:75%;
            }
        }

        .options {
            width:20%;
            float:right;
            margin-right:6px;

            button {
                width:100%;
                margin-bottom:10px;
            }
        }
    }

    .widget-title {
         button.btn {
            float:right;
            margin-top:9px;
            margin-right:10px;
         }
    }

    .questions-list {
        position:relative;
        overflow:auto;

        > .ui-sortable-placeholder {
            height:36px;
            width:100%;
            border: 1px solid #CDCDCD;
            clear: both;
            margin-top: 16px;
            margin-bottom: 16px;
            background-color:#ececec!important;
            border:1px dotted #bcbaba;
        }

        .widget-box .icon {
            cursor:move;
        }
    }

    .question-box {



        .container-fix-sortify {
            position:relative;
            overflow:hidden;
            border-top: 1px solid #DDD;

            &:hover {
                overflow:auto;
            }
        }

        table.answers {
            
            i {
                opacity:0.6;
            }

            tr {
                width:100%;
                clear:both;

                input {
                    @include box-sizing(border-box);
                    width:100%;
                    height:26px;
                }

                &.ui-sortable-placeholder {
                    width:100%;
                    height:36px;
                    border:1px dotted #bcbaba;
                
                    td {
                        background-color:#ececec!important;
                    }
                }

                td:first-of-type {
                    width:10px;
                    cursor:move;
                    padding:8px;
                    @include unselectable;
                }

                td:last-of-type {
                    width:10px;
                    padding:8px;

                    button {
                        opacity:0.8;
                        padding: 2px;

                        &:hover {
                            opacity:1;
                        }
                    }
                }

                td:nth-of-type(2) {
                    width:10px;
                    padding:8px;
                    .checker {
                        margin-right:0px;
                    }
                }

                td {
                    padding:5px 8px;
                }
            }
        }
        .input-prepend {
            margin:10px 20px;
        }
    }

    .full-opacity {
        opacity:1!important;
    }
}


[data-type=tat] {
    cursor:pointer;
    
}