.qti {
    button {
        i.spacify {
            margin-right:5px;
        }
    }

    h5 {
        .normal {
            font-weight:normal;
        }
    }

    .activity-breadcrumb {
        max-width:70%;

        .sep {
            padding: 8px 10px 0px 10px;
            display: inline-block;
            background-image: url(../libs/img/breadcrumb.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .control-group .input-prepend {
        
    }
    .input-prepend {
        width:100%;
        margin-left:10px;

        label, input.ember-text-field, textarea {
            margin:0;
            float:left;
            margin: 10px 0;
        }


        label {
            width: 100px;
            cursor:pointer;
        }

        .chzn-container {
            margin:10px 0 0 0;
            .chzn-single {
                height:26px;
                @include rounded-right(5px);
            }
        }
    }
    .qti-title {
        .icon {
            border-right:0;
        }

        h5 {
            max-width: 55%;
        }
        border-right: 1px solid #CDCDCD;
        float:left;
    }
    .main-tab-container {
        overflow:visible!important;
    }

    .main-container {
    }

    .panel-left {
        float:right;
        margin-left:0;
        margin-right:0px;
        @include box-sizing(border-box);
    }

    .panel-right {
        left:0;
        right:auto;
        top:0;
        border-right: 1px solid #DDD;
        border-left:0;
        position:relative!important;
        float:left;
        height:auto;

        button.panel-button {
            border:0px;
            font-size: 12px;
            color: #777;
            text-shadow: 0 1px 0 white;
            padding: 11px 10px 11px;
            text-align:left;
            width:100%;
            float: left;
            background:transparent;
            width: 100%;
            display:block;
            font-weight:bold;
            
            border-bottom: 1px solid #DDD;

            &:hover {
                background-color: #ECECEC;
            }
        }
    }

    .pages-list {
        line-height: 21px;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        font-size: 10px;
        float:left;
        width:100%;
        position:relative;

        li {
            border-color: #DDD;
            border-style: none none solid;
            border-width: 0 0 1px;
            padding: 1px;
            position: relative;
            float:left;
            width:100%;
            font-size: 12px;
            cursor:pointer;
            @include box-sizing(border-box);

            &.page-static {
                .questions-count {
                    display:none;
                }
            }

            &.empty {
                
                .page-title {
                    width: 100%;
                    text-align: center;
                    display: block;
                    max-width:100%;

                }

                cursor:default!important;
                font-style:italic;
            
                &:hover {
                    background-color:transparent;
                }
            }

            &.ui-sortable-placeholder {
                border:1px dotted #bcbaba;
                background-color:#ececec;
                margin:10px;
                height:25px;
                width:90%;
                @include box-sizing(content-box);
            }

            &.ui-sortable-helper {
                border: 1px solid #D6D6D6;
                @include box-sizing(content-box);
            }

            &.active {
                background-color: #EAEAEA;
                font-weight:bold;

                .icon {
                    background-color: #EFEFEF;
                    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f0f0f0), to(#dedede));
                    background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -moz-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -ms-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -o-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                    background-image: -linear-gradient(top, #f0f0f0 0%, #dedede 100%);
                }
            }

            &:hover {
                background-color:#eeeeee;
            }

            
            color: #666;
            display: block;
            float:left;
            width:100%;
            @include unselectable();

            .icon {
                border-right: 1px solid #CDCDCD;
                width:28px;
                height:28px;
                float: left;
                opacity: .7;
                text-align:center;
                padding:8px 0;
                margin-right:10px;

                line-height: 2.4em;

                background-color: #EFEFEF;
                background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
                background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
                cursor:move;
            }

            .page-title {
                float:left;
                line-height:3.5em;
                max-width: 60%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }


            

            .questions-count, .delete-page{
                padding: 3px 5px;
                position: absolute;
                right: 10px;
                top: 12px;
            }

            .delete-page {
                padding:2px;
                @include scale(0.7);
                opacity:0.8;

                &:hover {
                    opacity:1;
                }
            }
        }
    }

    .nav-tabs {
        float:left;
    }

    #page-management {

        .section-active {
            background-color:#d8d8d8;
            border-top:1px solid #c3c3c3;
            border-bottom:1px solid #c3c3c3;
        }
        .panel-title {
            float:left;
            padding:5px 0;

            h5 {
                float:left;
            }
            .buttons {
                margin:0;
                padding: 0px 10px 0 0;
                height: 100%;
                float:right;
                a {
                    margin-top:4px;
                    
                }
            }

        }
       
    }

    textarea {
        @include box-sizing(border-box);
        resize:vertical;
        min-height:30px;
    }
    textarea[name=page-document] {
        width:100%;
        max-width:100%;
    }

    

    [for="form-page-explanation"] {
        height:24px;
        line-height:2em;
    }

    #page-informations {
        .redactor_box {
            float:left;
            width:84%%;
            margin:10px 0;

            textarea {
                padding:0!important;
                margin:0!important;
                width:100%!important;
            }
        }

        #form-page-explanation {
            width:100%;
        }
        .control-group {
            float:left;
            width:70%;
            padding-bottom:10px;
            margin-bottom:10px;

            input.ember-text-field, textarea {
                width:75%;
            }
        }

        .options {
            width:20%;
            float:right;
            margin-right:6px;

            button {
                width:100%;
                margin-bottom:10px;

                &.multicontrol {
                    @include shadow(0,0,0,#FFF);
                    border:0px;
                }
                .checker {
                    border-right: 1px solid #CCC;
                    padding:5px;
                    @include rounded-left(4px);
                }

                > .name {
                    padding: 5px 0 6px 0;
                    display:block;
                    @include rounded-right(4px);
                }
            }
        }
    }

    &.is-static-page {
        #page-informations {
            .control-group {
                width:100%;
            }

            .options {
                display:none;
            }
        }
    }

    .widget-title {
         button.btn {
            float:right;
            margin-top:9px;
            margin-right:10px;
         }
    }

    .questions-toolbar {

        .widget-title {
            background:none;
            background-color: #E5E5E5;
            box-shadow: 0 0 1px white;
        }

    }

    .questions-list {
        position:relative;

        > .ui-sortable-placeholder, > .empty {
            height:36px;
            width:100%;
            border: 1px solid #CDCDCD;
            clear: both;
            margin-top: 16px;
            margin-bottom: 16px;
            background-color:#ececec!important;
            border:1px dotted #bcbaba;
        }

        > .empty {
            text-align:center;
            line-height:2.6em;
        }

        .widget-box .icon {
            cursor:move;
        }

        .widget-title {
            h5 {
                max-width:80%;
            }

            button {
                opacity:0.8;
                padding:2px;

                &:hover {
                    opacity:1;
                }
            }
        }
    }

    .question-box {




        table.answers {
            border-top:1px solid #DDD;
            
            i {
                opacity:0.6;
            }

            tr {
                width:100%;
                clear:both;

                &.empty {
                    td {
                        text-align:center;
                        cursor:default!important;
                    }

                    &:hover {
                        background-color:whiteSmoke!important;
                    }
                }

                input {
                    @include box-sizing(border-box);
                    width:100%;
                    height:26px;
                }

                &.ui-sortable-placeholder {
                    width:100%;
                    height:36px;
                    border:1px dotted #bcbaba;
                    background-color:#ececec!important;
                    
                    td {
                        background-color:#ececec!important;
                    }
                }

                td:first-of-type {
                    width:10px;
                    cursor:move;
                    padding:8px;
                    @include unselectable();
                }

                td:last-of-type {
                    width:10px;
                    padding:8px;

                    button {
                        opacity:0.8;
                        padding: 2px;
                        @include scale(0.8);

                        &:hover {
                            opacity:1;
                        }
                    }
                }

                td:nth-of-type(2) {
                    width:10px;
                    padding:8px;
                    .checker {
                        margin-right:0px;
                    }
                }

                td {
                    padding:5px 8px;

                    .ember-radio-button {
                        margin-top:2px;
                        .radio, label {
                            margin:0;
                        }
                    }
                }
            }
        }
        .input-prepend {
            margin:10px 20px;
        }
    }

    .full-opacity {
        opacity:1!important;
    }
}


[data-type=tat] {
    cursor:pointer;

}

#page-management {
    width:100%;
}

.panel-left {
    width:100%;
}

.input-prepend {
    label {
        display:none!important;
    }
}

/*
@media (max-width: 979px) {
    #page-management {
        width:100%;
    }

    .panel-left {
        width:100%;
    }


}

@media (max-width: 1580px) {
    .input-prepend {
        label {
            display:none!important;
        }
    }
}
*/


.dropzone-container {
    float:right;
    width:35%;
    height:235px;

    .dropzone {
        background: palegreen;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
        position:relative;
        border:1px dotted #bcbaba;
        background-color:#ececec; 

        .preview {
            width:80%;
            height:80%;
            position:absolute;
            top:10%;
            left:10%;
            overflow:hidden;

            img, canvas {
                position:absolute;
                top:0;
                left:0;
            }
        }

        &.in {
            width: 100%;
            height: 100%;
            background-color:#cecece;
            img, canvas {
                display:none;
            }
        }
        &:hover {
            //background-color:#d8d6d6;
        }

        &.fade {
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            opacity: 1;
        }
    }

    .add-thumbnail {
        width:100%;
        position:relative;
        margin:10px auto 0 auto;
        input {
            width:100%;
            height:100%;
            opacity:0;
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
        }
    }
}

#form-activity-title {
    width:65%!important;
    min-width:220px;
}

#modal-page-timer {
    .chzn-container {
        width:30%!important;
    }
}
[data-type=tat] {
    
}