.redactor_box, .redactor_air {
    .redactor_editor {
        min-height:120px;
   }

   .infobox {
        display: block;
        width: 100%;
        background-color: #F1F1F1;
        text-align:right;

        &.ok {
            span {

            }
        }

        &.ko {
            span {
                color:red;
            }
        }
        span {
            margin-right:10px;
        }
    }

    img[data-type=math] {
        cursor:pointer;
        padding:5px;

        &:hover {
            @include rounded(5px);
            background-color:#F1F1F1;
        }
    }

    a[data-type=tat] {
        background-color:#909090!important;
        color:white!important;
        padding:2px 5px!important;
        @include rounded(4px);
        text-decoration:none!important;

        &:hover {
            background-color:#585858!important;
        }
    }

    .redactor_toolbar {
        a.redactor_btn_mathjax {
            background: url('images/redactor/mathjax.png') center center no-repeat;
        }

        a.redactor_btn_tat {
            background: url('images/redactor/tat.png') 0px -24px no-repeat;
            background-size:26px 52px;

            &:hover {
                background: url('images/redactor/tat.png') 0px 3px no-repeat;
                background-size:26px 52px;
            }
        }
    }
}

