table th:last-child {
  display: none;
}

table td:last-child {
  display: none;
}

.sandbox table th:first-child {
  display: none;
}

.sandbox table td:first-child {
  display: none;
}

.user-reviewer, .user-admin {
  table th:first-child {
    display: default;
  }

  table td:first-child {
    display: default;
  }
}

.popover .avatar {
  width: 25px;
  height: 25px;
  border: 0;
  padding: 0;
  margin: 10px;
  background:url('images/default.png') center center no-repeat;
}


.popover {
  .thumbnail {
    float: left;
    width: 60px;
    height: 60px;
    border: 0;
    padding: 0;
    margin: 10px;
  }

  .thumbnail:empty {
    background:url('images/default.png') center center no-repeat;
  }

}


#piepie, #piepielevel {
  height: 300px;
  width: 300px;
  margin: 20px;
  float: left;

  & + ul {
    text-align: right;
    list-style-type: none;

    li span {
      width: 20px; 
      height: 20px;
    }

/*

      max-width: 200px;
      margin-right: 0;
*/
    li > a{
      color: #aaaaaa;
    }

    li.active > a {
      color: #555555;
    }

    li:hover:not(.active) > a, li.hovering:not(.active) > a{
      color: blue;
    }

    a {
      cursor: pointer;
    }
  }
 
}
