/*
If you want to do tests or very specific overrides, work here
*/

#breadcrumb, #search {
  display: none !important;
}

.page_title{height:45px; width:100%; padding-top: 20px; border-bottom: 1px solid #CCCCCC; font:24px Arial; color:rgb(51, 25, 117); text-transform: uppercase; text-align:center;}

.light_grey_bloc{background-color:#EEEEEE} /* bloc suivant un titre h4 */