/**
 * Empty
 */
/** Rounded corners **/
@mixin rounded($radius: 10px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin rounded-top($radius: 10px) {
    border-radius: $radius $radius 0 0 !important;
    -moz-border-radius: $radius $radius 0 0 !important;
    -webkit-border-radius: $radius $radius 0 0 !important;
}

@mixin rounded-bottom($radius: 10px) {
    border-radius: 0 0 $radius $radius !important;
    -moz-border-radius: 0 0 $radius $radius !important;
    -webkit-border-radius: 0 0 $radius $radius !important;
}

@mixin rounded-left($radius: 10px) {
    border-radius: $radius 0 0 $radius;
    -moz-border-radius: $radius 0 0 $radius;
    -webkit-border-radius: $radius 0 0 $radius;
}

@mixin rounded-right($radius: 10px) {
    border-radius: 0 $radius $radius 0;
    -moz-border-radius:  0 $radius $radius 0;
    -webkit-border-radius:  0 $radius $radius 0;
}


/** drop shadow **/
@mixin shadow($x:5px, $y:5px, $blur:5px, $color:#ccc) {
    -moz-box-shadow:  $x $y $blur $color;
    -webkit-box-shadow:  $x $y $blur $color;
    box-shadow:  $x $y $blur $color;
}

@mixin inner-shadow($x:5px, $y:5px, $blur:5px, $color:#ccc) {
    -moz-box-shadow: inset $x $y $blur $color;
    -webkit-box-shadow: inset $x $y $blur $color;
    box-shadow: inset $x $y $blur $color;
}

@mixin multiple-shadows($x:5px, $y:5px, $blur:5px, $color:#ccc, $ix:5px, $iy:5px, $iblur:5px, $icolor:#ccc) {
    -moz-box-shadow: $x $y $blur $color, inset $ix $iy $iblur $icolor;
    -webkit-box-shadow: $x $y $blur $color, inset $ix $iy $iblur $icolor;
    box-shadow: $x $y $blur $color, inset $ix $iy $iblur $icolor;
}

@mixin box-sizing($value){
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

/** hide text content */
@mixin notext() {
    text-indent: -30000px;             
    white-space:nowrap;
}

@mixin rotate($deg) {
    transform:rotate($deg);
    -moz-transform:rotate($deg);
    -webkit-transform:rotate($deg);
    -o-transform:rotate($deg);
    -ms-transform:rotate($deg);
}

@mixin unselectable() {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


@mixin scale($deg) {
    transform:scale($deg);
    -moz-transform:scale($deg);
    -webkit-transform:scale($deg);
    -o-transform:scale($deg);
    -ms-transform:scale($deg);
}



/*
body {
    background-color: #F2F2F2;
}*/

#activity-preview-body {
    width:90%;
    margin:20px auto;
    padding-top:10px;
    font-family:Arial;

    background-color:#FFF;

    @include shadow(0,5px,15px,rgba(0,0,0,0.5));


    /* h4 collapsers */

    > header {
        background-color:#08C;
        width:100%;
        > * {
            display:none;
        }
        h1 {
            display:block;
            font-size:10px;
            font-weight:bold;
            color:#FFF;
            padding-left:20px;
        }
    }


    h4{
      background-color: rgb(153, 153, 153);
      width: 100%;
    }
    h4 i{
      float: right;
    }

    .wordlist{
      display: none;
      border-top: 1px solid blue;
      border-bottom: 1px solid blue;
      padding: 10px;
      margin: 20px;
    }

    .side-document {
      float: left;
      width: 48%;
      border: 1px solid black;
      padding: 5px;
    }

    .side-document + div{
      float: right;
      width: 48%;
      border: 1px solid black;
      padding: 5px;
    }

    .side-document + div + div{
      clear: both;
      margin: auto;
      padding-top: 20px;
      text-align: center;
    }

    input[type=text]{
      width: 100px !important;
    }

    dd ul {
      list-style-type: none;
    }

    dd ul li quote{
      display: none;
    }

    input[type=radio]{
      margin: 0;
    }


    .content-container {
        padding:15px;
        @include box-sizing(border-box);
    }

    .pages-container {
        section {
            display:none;
        }
    }
    .side-menu {
        &.pull-right {
            float:right!important;
        }
        nav {
            border: 1px solid #DDD;
            margin-top:10px;

            h2 {
                background-color:rgb(245, 245, 245);
                width:100%;
                font-size:16px;
                font-weight:normal;
                margin:0;
                text-indent:15px;
                text-transform:uppercase;
                color:#000;
                border-bottom: 1px solid #E8E8E8;
            }

            ul.attachments-list, ol.attachments-list {
                padding:20px;

                li {
                    display:inline-block;
                    width:32px;
                    height:32px;
                    margin-right:10px;
                    list-style:none;
                    min-height:32px;

                    background: #f9f9f9;
                    background: -moz-linear-gradient(top,  #f9f9f9 0%, #eeeeee 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eeeeee));
                    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
                    background: -o-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
                    background: -ms-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
                    background: linear-gradient(to bottom,  #f9f9f9 0%,#eeeeee 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 );
                    @include rounded(3px);
                    @include multiple-shadows(0px,1px,3px,rgba(0,0,0,0.3), 0px,1px,1px,rgba(255,255,255,1));
                    @include box-sizing(border-box);
                    color: #666;
                    font-size: 12px;
                    font-weight: bold;
                    cursor:pointer;

                    a {
                        display:block;
                        width:100%;
                        height:100%;
                        padding:0;
                        margin:0;
                        
                    }

                    &.mp3 a {
                        background: transparent url(images/attachments/mp3.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.pdf a {
                        background: transparent url(images/attachments/pdf.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.avi a {
                        background: transparent url(images/attachments/avi.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.jpeg a {
                        background: transparent url(images/attachments/jpeg.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.pptx a {
                        background: transparent url(images/attachments/pptx.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.text a {
                        background: transparent url(images/attachments/text.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.wav a {
                        background: transparent url(images/attachments/wav.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.xlsx a {
                        background: transparent url(images/attachments/xlsx.png) center center no-repeat;
                        background-size: 90%;
                    }

                    &.zip a {
                        background: transparent url(images/attachments/zip.png) center center no-repeat;
                        background-size: 90%;
                    }
                }

            }

            ol,ul {
                width:100%;
                margin:0;
                padding:0;
                list-style:none;

                li {
                    display:block;
                    width:100%;
                    border-bottom: 1px solid #DDD;
                    padding:0;
                    margin:0;
                    border-top:1px solid #FFF;

                    &.active {
                        border-top-color:#5fbaf3;
                        background: #34a0ed;
                        background: -moz-linear-gradient(top,  #34a0ed 0%, #1583d5 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a0ed), color-stop(100%,#1583d5));
                        background: -webkit-linear-gradient(top,  #34a0ed 0%,#1583d5 100%);
                        background: -o-linear-gradient(top,  #34a0ed 0%,#1583d5 100%);
                        background: -ms-linear-gradient(top,  #34a0ed 0%,#1583d5 100%);
                        background: linear-gradient(to bottom,  #34a0ed 0%,#1583d5 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a0ed', endColorstr='#1583d5',GradientType=0 );

                        a {
                            color:#FFF;
                        }

                    }
                    

                    &:last-of-type {
                        border-bottom:0;
                    }

                    a {
                        color: #08C;
                        font-weight:bold;
                        font-size:13px;
                        line-height:1.2em;
                        padding:10px 15px;
                        display:block;
                    }

                    &:hover {
                        background-color:rgb(245, 245, 245);
                        a {
                            text-decoration:none;
                        }
                    }
                }
            }
        }
    }

    .mix-and-match {
        > ul > li {
            list-style:none;
            margin-bottom:20px;
        }

        .questions {
            > li {
                
                @include box-sizing(border-box);
                background-color:#eee;
                @include rounded(5px);
                @include shadow(0,0, 3px, rgba(0,0,0,0.5));

                &.ui-state-active {
                    background-color:#ccc;
                }

                &.ui-state-hover {
                    background-color:#999;
                }

                &.ui-state-wrong {
                    background-color:#f2dede;
                }

                &.ui-state-correct {
                    background-color:#dff0d8;
                    .response {
                        

                        > li {
                            background-color:transparent;
                            @include rounded-right(5px);
                            padding:20px;
                            @include box-sizing(border-box);
                        }
                    }
                }

                div.title {
                    padding:20px;
                    background-color:#eee;
                    @include rounded-left(5px);
                }
            }
        }

        .propositions {
            li {
                padding:20px;
                @include box-sizing(border-box);
                @include rounded(5px);
                background-color: #eee;
                @include unselectable();
                @include shadow(0,0, 3px, rgba(0,0,0,0.5));
                cursor:move;
            }
        }

    }
}